APP_NAME=AiUserFactory
APP_ENV=local
APP_KEY=base64:x56IhL0wj6F7IGVIjYbMScvVO1oENUb1R0zZmc3APyU=
APP_DEBUG=true
APP_URL=https://factory.follow-flow.de

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=AiUserFactory
DB_USERNAME=AiUserFactory
DB_PASSWORD=J6^5bpx67

SCRAPER_BASE_PROJECT_PATH=C:\xampp\htdocs\webaidetective\webaidetective-base
WEBAIDETECTIVE_BASE_API_URL=http://127.0.0.1:1000/api/scraper-profiles/sync
WEBAIDETECTIVE_BASE_API_PASSWORD=WZiJPy9pKSLredwqRg1MDE4326NFo5tv0zjuGAQaTC8smXOxIbcVU7fBHnYlkh


BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=2400
MAX_UPLOAD_SIZE=30


MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.ionos.de
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD="Caludalu1991!" 
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME} - "



AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WEBAIDETECTIVE_BASE_APP_KEY=base64:Vacjk8l/+6nPiwngvRNQV4QHvsSmYg49V29Q3TBSODg=
